.app-header {
  height: 70px;
  display: flex;
  align-items: center;
  background: #03a9f4;
  margin-bottom: 30px;
  .logo {
    flex-grow: 1;
    font-size: 1.2em;
  }
  .app-nav {
    display: flex;
    gap: 10px;
  }
}
